target
lib
*.sublime-workspace
*.log
*.class
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.classpath
.project
.settings
*.iml
.idea
atlassian-ide-plugin.xml
pom.xml.versionsBackup
